* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
p{
    display: inline-block;
}
p img {
    height: 30px;
    width: 30px;
    margin-top: 20px;
}
#right {
    display: none;
    margin-top: 30px;
    width: 10%;
}
#average {
    width: auto;
    font-weight: lighter;
    font-size: 20px;
    color: #020621;
}
#timer {
   float: left;
   margin-left: 5%;
   font-size: 20px;
   font-weight: lighter;
   width: 20%;
   color: #323ca8;
}
#wpm {
   float: right;
   border: 1px solid #d15f38;
   padding: 10px;
   border-radius: 10%;
   margin-right: 10px;
   font-size: 20px;
   font-weight: lighter;
   /* width: 10%; */
   color: #323ca8;
}
#container {
  border: 1px solid black;
  outline: chartreuse;
  height: 1000px;
  width: 80%;
  margin-left: 5%;
  padding: 5%;
  font-size: 20px;
}
h2{
    color: #11268f;
}
#sad {
    display: none;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
#happy {
    display: none;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
